In [1]:
name = 'Zaid Kamil'

In [2]:
city = 'Atlanta'

In [3]:
x = 10
y = 20

In [4]:
first_name = 'zaid'

In [5]:
a = 10

In [6]:
a = 'Apple'

In [7]:
a = 3.145

In [8]:
a = [1,2,3,4,5]

In [9]:
a = True

In [10]:
a = None

In [11]:
x = 10
y = 3

In [12]:
print(x + y) # addition
print(x - y) # subtraction
print(x * y) # multiplication

13
7
30

In [13]:
x, y = 120, 50
print(x / y) # division (float)
print(x//y) # division (integer)
print(x % y) # modulus (remainder)

2.4
2
20

In [14]:
print(x > 5)
print(y < 10)
print(x >= y)
print(x <= y)
print(x == 120)
print(x != 120)

True
False
True
False
True
False

In [16]:
10 > 5 and 10 < 20

True

In [18]:
10 > 5 and 10 > 20

False

In [22]:
'Green' == 'green' or 'Pink' == 'Pink'

True

In [25]:
fruits = ['apple', 'banana', 'cherry', 'dates', 'figs']

In [26]:
'pineapple' in fruits

False

In [27]:
'dates' in fruits

True

In [28]:
'plum' not in fruits

True