In [1]:
names = ['ajay', 'vijay', 'suresh', 'ramesh', 'mahesh']

In [2]:
accs = [
    {'name': 'ajay', 'amt': 12000, 'pin': 1234, 'acno': 1234567890},
    {'name': 'vijay', 'amt': 100400, 'pin': 1534, 'acno': 1234567891},
    {'name': 'suresh', 'amt': 150200, 'pin': 2234, 'acno': 1234567892},
    {'name': 'ramesh', 'amt': 20000, 'pin': 1254, 'acno': 1234567893},
    {'name': 'mahesh', 'amt': 2501200, 'pin': 2234, 'acno': 1234567894}
]

In [5]:
accs[0]

{'name': 'suresh', 'amt': 150200, 'pin': 2234, 'acno': 1234567892}

OOP
- classes n objects
- abstraction
- encapsulation
- inheritance

In [26]:
class Account:
    def __init__(self,name, amt, pin, acno):
        self.name = name
        self.amt = amt
        self.pin = pin
        self.acno = acno

    def __repr__(self):
        return f'{self.name}'

In [23]:
accobj = [
    Account('ajay', 12000, 1234, 1234567890),
    Account('vijay', 100400, 1534, 1234567891),
    Account('suresh', 150200, 2234, 1234567892),
    Account('ramesh', 20000, 1254, 1234567893),
]

accobj

[ajay, vijay, suresh, ramesh]

In [24]:
pr = Account('pradeep', 10000, 1234, 1234567890)
pr

pradeep

In [25]:
accobj[0]

ajay

In [55]:
class Triangle:
    def __init__(self, b=1, h=1):
        self.b = b
        self.h = h
    
    def area(self):
        return 0.5 * self.b * self.h
    
    def __repr__(self):
        return f'📐{self.area()}'
    
    def __gt__(self, other):
        if isinstance(other, Triangle):
            return self.area() > other.area()

In [58]:
tris = [
    Triangle(30, 550),
    Triangle(20, 30),
    Triangle(30, 30),
]
tris.sort()
tris

[📐300.0, 📐450.0, 📐8250.0]

In [37]:
n = int(input('N>>>'))
arr = [int(input(f'{n} values >>>')) for _ in range(n)]
k = int(input('k>>>'))
challenges = [int(input(f'{k} values >>>')) for _ in range(k)]

In [54]:
arr.sort(reverse=True)
total = 0
for item in challenges:
    cnt = arr.count(item)
    pos = arr.index(item)
    print(f'{item} = {cnt+pos-1}')
    total += cnt+pos-1
print(total)

5 = 3
2 = 6
6 = 0
9