In [1]:
name = 'zaid kamil'

In [2]:
fname = name[:4]
lname = name[5:]
print(fname)
print(lname)

zaid
kamil

string reverse - with slicing

In [3]:
name[::-1]

'limak diaz'

In [4]:
# even character of a string
name[::2]

'zi ai'

In [5]:
# odd character of a string
name[1::2]

'adkml'

In [6]:
name[::-1][:5][::-1]

'kamil'

In [10]:
data = '59.30%'
float(data[:-1])

59.3

In [13]:
value = '$910292+'
int(value[1:-1])

910292

In [20]:
# with open('char.txt', 'w', errors='ignore') as f:
#     for i in range(160000):
#         try:f.write(f'{i} {chr(i)}\n')
#         except:pass
#     print('done')

done

## string methods
- formatting methods
    - upper()
    - lower()
    - capitalize()
    - title()
    - swapcase()

In [1]:
msg = 'Journey Before Destination'

In [2]:
msg.upper()

'JOURNEY BEFORE DESTINATION'

In [3]:
msg.lower()

'journey before destination'

In [5]:
msgc = msg.capitalize()

In [7]:
msg.swapcase()

'jOURNEY bEFORE dESTINATION'

In [9]:
msg.title()

'Journey Before Destination'

In [10]:
msg.casefold()

'journey before destination'

- # String utility methods
    - strip( )
    - count( )
    - split( )
    - join( )
    - find( )
    - replace( )
    - startswith( )
    - endswith( )

In [16]:
name = input('enter ur name:')
print(name)
print(len(name))

   zaid kamil
14

In [19]:
clean_name = name.strip()
print(clean_name, len(clean_name))

zaid kamil 10

In [23]:
data = 'abcdeabcdbcABDCADAbadbabdabdabdbbda'
data.count('a')

7

In [24]:
data.count('a') + data.count('A')

10

In [34]:
data = '''Once upon a time, there was hero who saved the world.
One day he went to sleep, the end'''

In [28]:
data.count('the')

3

In [39]:
print(data)

Once upon a time, there was hero who saved the world.
One day he went to sleep, the end

In [32]:
words = data.split()
print(words, len(words))

['Once', 'upon', 'a', 'time,', 'there', 'was', 'hero', 'who', 'saved', 'the', 'world.', 'One', 'day', 'he', 'went', 'to', 'sleep.', 'the', 'end'] 19

In [41]:
data.splitlines()

['Once upon a time, there was hero who saved the world.',
 'One day he went to sleep, the end']

In [42]:
address_parts = [
    'C 184/4',
    'Railway Colony',
    'RDSO',
    'Manak Nagar',
    'Lucknow',
    '226011'
]

In [43]:
print(address_parts)

['C 184/4', 'Railway Colony', 'RDSO', 'Manak Nagar', 'Lucknow', '226011']

In [46]:
' '.join(address_parts)

'C 184/4 Railway Colony RDSO Manak Nagar Lucknow 226011'

In [47]:
', '.join(address_parts)

'C 184/4, Railway Colony, RDSO, Manak Nagar, Lucknow, 226011'

In [50]:
print('\n'.join(address_parts))

C 184/4
Railway Colony
RDSO
Manak Nagar
Lucknow
226011